@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
:root {
    --color-primary: #232323;
    --color-secondary: #6A6CFF;
    --color-text: #828282;
    --color-accent: #BD71FF;
    --typography-primary-font-family: "PT Sans", sans-serif;
    --typography-primary-font-weight: 500;
}


body {
    background: rgba(235, 218, 254, 0.3);
    /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(77px);
    font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(235, 218, 254);
    background: linear-gradient(30deg, rgba(235, 218, 254, 1) 0%, rgba(225, 183, 255, 1) 31%, rgba(187, 172, 253, 1) 100%);
    height: 100vh;
}

#promo-container {
    display: flex;
    justify-content: center;
    padding: 80px;
    min-height: 500px;
}

#promo-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 600px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3.8px;
    color: #353535;
    -webkit-text-fill-color: initial;
}

#lightbulb-img {
    height: 500px;
    width: auto;
}

#promo-end {
    height: 5px;
    background: rgb(192, 125, 202);
    background: radial-gradient(circle, rgba(192, 125, 202, 0.1195071778711485) 0%, rgba(192, 125, 202, 1) 50%, rgba(123, 126, 205, 1) 50%, rgba(123, 126, 205, 0.11390493697478987) 100%);
}

navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

#p-line-1 {
    line-height: 65px;
}

#p-line-2 {
    line-height: 65px;
    display: inline-flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -3.8px;
    color: #6A6CFF;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(110deg,var( --color-secondary ) 0%,var( --color-accent ) 100%);
    padding: 0;
}

#p-line-3 {
    line-height: 65px;
}

#typed-strings {
    visibility: hidden;
}

.typed-cursor {
    font-style: italic;
    padding-left: 5px;
    padding-right: 15px;
}

.toggle-menu-button {
    transform-origin: 0 0;
    z-index: 99999999999;
}

.toggle-menu-button span {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: block;
    width: 30px;
    background-color: #232323;
    height: 2.5px;
    top: 4px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn>span:nth-child(1) {
    width: 20px;
}

.menu-btn>span:nth-child(2) {
    top: 8px;
}

.menu-btn>span:nth-child(3) {
    top: 6px;
}

.menu-btn>span:nth-child(4) {
    width: 20px;
    top: 10px;
}

#nav-col-1 {
    min-width: 200px;
    padding-top: 23px;
}

#nav-col-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    letter-spacing: -2px;
    font-family: 'Source Sans Pro', sans-serif;
}

#nav-col-3 {
    min-width: 200px;
    padding-top: 23px;
    display: flex;
    justify-content: end;
}

#logo-highlight {
    color: #6A6CFF;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(110deg,var( --color-secondary ) 0%,var( --color-accent ) 100%);
    text-shadow: none;
}

.hire-us-btn {
    padding: 12px 32px;
    background-color: transparent;
    background-image: linear-gradient(130deg,var( --color-accent ) 0%,var( --color-secondary ) 74%);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.hire-us-btn:hover {
    background-color: var( --color-accent );
}

#promo-left {
    flex: 1;
}

#promo-right {
    flex: 1;
    position: relative;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

#lightbulb-on-img {
    height: 500px;
    position: absolute;
    top: 0;
}

#lightbulb-off-img {
    height: 500px;
    position: absolute;
    top: 0;
}

#promo-wrap {
    display: flex;
}

.container {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* background: #1f1f47 !important; */

    gap: 30px;
        /* padding: 30px; */
        padding: 30px 0px;
}

.card {
    height: 490px;
    width: 364px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 40px;
    padding: 1.5rem;
    z-index: 10;
}
.card img{
    width: 135px;
    height: 135px;
}
.img-div-card{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 50px;
}
.img-text-card{
    padding: 30px;
}

.title {
    font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #485466;
}

.subtitle {
font-family: 'Nunito';
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    line-height: 140%;
    color: #5A6980;
    padding-top: 23px;
    padding-bottom: 40px;
}

.btn {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #4E92F9;
        margin-top: 20px;
}
.btn img{
    height: 12.586572647094727px;
    width: 24.00055694580078px;
}

.blob {
    position: absolute;
    width: 100px;
    height: 100px;
  background: linear-gradient(180deg, rgba(78, 146, 249, 0) 0%, rgba(78, 146, 249, 0.21) 100%);
  border-radius: 145px;
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
    width: 120px;
    height: 120px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 10px 10px 0 0px #fa709a,
        inset 20px 20px 0 0px #784ba8,
        inset 30px 30px 0 0px #2b86c5;
}

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

/* .partners{
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.partners img{
    width:8%;
} */
.big-title{
    font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #242A33;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 10px;
}
.big-subtitle{
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #5A6980;
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
}

.swiper {
    /* width: 600px;
    height: 300px; */
    width: 90%;
    margin-top: 40px !important;
}
.swiper-wrapper{
margin-bottom: 20px;
display: flex;
align-items: center;
}

.swiper-slide img{
width: 50%;
}

.swiper-pagination{
    bottom: 0 !important;
}

 @media (max-width:768px) {
    navbar{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
    #nav-col-3{
        display: none;
    }
    #promo-wrap{
            flex-direction: column;
            width: 100%;
        }
    #promo-left, #p-line-2{
        font-size: 50px;
    }
    #promo-left{
            min-width: 100%;
        }
    #promo-right{
            min-width: 100%;
        }
    #promo-container{
        padding: 30px;
        min-height: 100px;
    }
    #lightbulb-on-img{
            height: 380px;
        }
   #lightbulb-off-img {
            height: 380px;
        }
    .container{
        flex-direction: column;
    }
    .card{
        width: 70%;
        height: 300px;
    }
    .img-div-card img{
        width: 80px;
        height: 80px;
    }
    .img-div-card{
        margin-bottom: initial;
        margin-top: initial;
    }
    .subtitle{
        padding-bottom: 20px;
    }
    .big-subtitle{
        width: initial;
    }
    .big-title{
        margin-top: 60px;
    }
    .swiper-slide{
        width: 300px !important;
    }
 }