@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
:root {
    --color-primary: #232323;
    --color-secondary: #6A6CFF;
    --color-text: #828282;
    --color-accent: #BD71FF;
    --typography-primary-font-family: "PT Sans", sans-serif;
    --typography-primary-font-weight: 500;
    
}

html{
    scroll-behavior: smooth;
}

body {
    background: rgba(235, 218, 254, 0.3);
    /* background: rgba(255, 255, 255, 0.1); */
        backdrop-filter: blur(77px);
    font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(235, 218, 254);
    background: linear-gradient(30deg, rgba(235, 218, 254, 1) 0%, rgba(225, 183, 255, 1) 31%, rgba(187, 172, 253, 1) 100%);
    height: 100vh;
}

#promo-container {
    display: flex;
    justify-content: center;
    padding: 80px;
    min-height: 500px;
}

#promo-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 600px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3.8px;
    color: #353535;
    -webkit-text-fill-color: initial;
}

#lightbulb-img {
    height: 500px;
    width: auto;
}

#promo-end {
    height: 5px;
    background: rgb(192, 125, 202);
    background: radial-gradient(circle, rgba(192, 125, 202, 0.1195071778711485) 0%, rgba(192, 125, 202, 1) 50%, rgba(123, 126, 205, 1) 50%, rgba(123, 126, 205, 0.11390493697478987) 100%);
}

navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

#p-line-1 {
    line-height: 65px;
    color: #fff;
}

#p-line-2 {
    line-height: 65px;
    display: inline-flex;
    justify-content: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -3.8px;
    color: #6A6CFF;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(110deg,var( --color-secondary ) 0%,var( --color-accent ) 100%);
    padding: 0;
}

#p-line-3 {
    line-height: 65px;
    color: #fff;
}

#typed-strings {
    visibility: hidden;
}

.typed-cursor {
    font-style: italic;
    padding-left: 5px;
    padding-right: 15px;
}

.alert-success{
    color: #21D4DF;
}
.alert-danger{
    color: #EB6453;
}
#un {
    display: none;
}

#deux {
    display: none;
}

#trois {
    display: none;
}
.toggle-menu-button {
    transform-origin: 0 0;
    z-index: 99999999999;
}

.toggle-menu-button span {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: block;
    width: 30px;
    background-color: #232323;
    height: 2.5px;
    top: 4px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.menu-btn>span:nth-child(1) {
    width: 20px;
}

.menu-btn>span:nth-child(2) {
    top: 8px;
}

.menu-btn>span:nth-child(3) {
    top: 6px;
}

.menu-btn>span:nth-child(4) {
    width: 20px;
    top: 10px;
}

#nav-col-1 {
    min-width: 200px;
    padding-top: 23px;
}

#nav-col-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    letter-spacing: -2px;
    font-family: 'Source Sans Pro', sans-serif;
}

#nav-col-3 {
    min-width: 200px;
    padding-top: 23px;
    display: flex;
    justify-content: end;
}

#logo-highlight {
    color: #6A6CFF;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(110deg,var( --color-secondary ) 0%,var( --color-accent ) 100%);
    text-shadow: none;
}

.hire-us-btn {
    padding: 12px 32px;
    background-color: transparent;
    background-image: linear-gradient(130deg,var( --color-accent ) 0%,var( --color-secondary ) 74%);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

.hire-us-btn:hover {
    background-color: var( --color-accent );
}

#promo-left {
    flex: 1;
}

#promo-right {
    flex: 1;
    position: relative;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

#lightbulb-on-img {
    height: 500px;
    position: absolute;
    top: 0;
}

#lightbulb-off-img {
    height: 500px;
    position: absolute;
    top: 0;
}

#promo-wrap {
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 30px;
    padding: 30px 0px 80px 0px;
        
}

.card {
    height: 490px;
    width: 364px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 40px;
    /* padding: 1.5rem; */
    z-index: 10;
}
.card img{
    width: 135px;
    height: 135px;
}
.img-div-card{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 35px;
}
.img-text-card{
    padding: 30px;
}

.title {
    font-family: 'Nunito';

        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #485466;
}

.subtitle {
font-family: 'Nunito';
    font-weight:400;
    font-size: 16px;
    line-height: 140%;
    color: #5A6980;
    padding-top: 23px;
    padding-bottom: 20px;
}

.btn {

        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #4E92F9;
        margin-top: 20px;
        text-decoration: none;
}
.btn img{
    height: 12.586572647094727px;
    width: 24.00055694580078px;
}

.blob {
    position: absolute;
    width: 239px;
    height: 239px;
    left: 50px;
    top: 0;
    background: linear-gradient(180deg, rgba(78, 146, 249, 0) 0%, rgba(78, 146, 249, 0.21) 100%);
    border-radius: 145px;
}

.blob-yellow {
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0;
    background: linear-gradient(165.74deg, rgba(255, 186, 39, 0.4) 10.13%, rgba(255, 222, 152, 0.9) 86.62%);
    filter: blur(127px);
    border-radius: 112px;
    top: 200px;
}
.blob-green{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 150px;
    top: 100px;
    background: radial-gradient(73.42% 73.42% at 50% 50%, rgba(0, 232, 179, 0.3) 0%, rgba(0, 232, 179, 0) 100%);
    filter: blur(127px);
    z-index: 1;
}
.blob-orange{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 300px;
    top: 350px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 61, 37, 0.4) 0%, rgba(255, 0, 17, 0) 100%);
    filter: blur(127px);
}
.square-purple-blob{
    position: absolute;
        width: 414.77px;
        height: 414.77px;
        left: -300px;
        background: linear-gradient(167.37deg, rgba(78, 146, 249, 0.1) 9.15%, rgba(195, 129, 219, 0) 98.94%);
        filter: blur(7.5px);
        border-radius: 36px;
        transform: matrix(0.87, -0.5, -0.5, -0.87, 0, 0);
        bottom: 200px;
}
.square-green-blob{
        position: absolute;
        width: 310.87px;
        height: 310.87px;
        left: -200px;
        background: linear-gradient(180deg, rgba(0, 232, 179, 0.1) 0%, rgba(0, 232, 179, 0) 100%);
        filter: blur(7.5px);
        border-radius: 36px;
        transform: matrix(0.87, -0.5, -0.5, -0.87, 0, 0);
        bottom: 10px;
}
.square-orange-blob{
        position: absolute;
            width: 201.97px;
            height: 201.97px;
            background: linear-gradient(164.27deg, rgba(255, 176, 7, 0.1) 10.99%, rgba(255, 176, 7, 0) 113.57%);
            filter: blur(7.5px);
            border-radius: 37px;
            transform: rotate(-30deg);
            right: -100px;
            top: 100px;
}
.square-blue-blob{
    position: absolute;
        width: 280px;
        height: 280px;
        /* left: 1699.76px; */
        top: 290px;
        background: linear-gradient(164.27deg, rgba(78, 146, 249, 0.1) 10.99%, rgba(195, 129, 219, 0) 113.57%);
        filter: blur(7.5px);
        border-radius: 36px;
        transform: rotate(-30deg);
        right: -150px;
    }

.big-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #242A33;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 10px;
}
.big-subtitle{
        text-align: center;
        color: #5A6980;
        margin-bottom: 60px;
}

.icon-subtitle{
display: flex;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 1140px;
height: 201px;
justify-content: center;
margin: auto;

}
.description img{
    width: 114px;
    height: 114px; 
    align-items: center;
    justify-content: center;
}

.description{
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px;
   gap: 24px;
  width: 364px;
   height: 201px;
   margin: auto;
   z-index: 2;
}
.description h2{
    width: 162px;
    height: 27px; 
   font-family: 'Nunito';
   font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #6C7E99;
  text-align: center;
}
.description p{
    width: 286px;
    height: 44px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #7E92B3;
}


@media only screen and (max-width: 768px) {
    .hire-us-btn{
        padding: 10px 20px;
    }
    #nav-col-2 {
      
        font-size: 35px;
      
    }

    #project-paragraph{
        padding: 20px;
    }
.description{
    margin-bottom: 20px;
}
    .img-text-card{
        padding: 0px 30px;
    }

    .blob-yellow {
           top: initial !important;
           bottom: 0 !important;
        }
    .icon-subtitle {
        flex-direction: column;
        height: initial;
        width: initial;
    }
    /* .description{
        padding: 20px;
    } */
    .big-subtitle {
        margin-bottom: 30px;
    }
    .creative-team{
        flex-direction: column;
        gap: 30px !important;
    }
    .creative-team.ct{
        flex-direction: column-reverse !important;
    }
    .creative-img{
        display: contents;
    }
    .creative-img img{
        width: 80% !important;
        height: initial !important;
    }
    .creative-text p, .creative-text h2{
        width: initial !important;
        height: initial !important;
    }
        #creative-btn{
            display: none;
        }

    .grid {
        grid-template-columns: auto !important;
    }
  }

  .creative-team{
    display: flex;
    justify-content: center;
    gap: 122px;
    align-items: center;
    
  }
  .about-us{
    padding: 60px 0px;
    position: relative;
    overflow: hidden;
  }
  .creative-text, .creative-img{
    z-index: 2;
  }
  .creative-text h2{
    width: 460px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #242A33;
    margin: 24px;
  }
  .creative-text p{
    width: 461px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #5A6980;
    margin: 24px;
  }
.creative-img img{
    width: 400px;
   height: 400px;
   left: 0px;
   top: 0px;

}
#creative-btn{
    background: transparent;
    padding: 7px 16px;
    margin: 24px;
    gap: 10px;   
   width: 113px;
   height: 36px;
   border-radius: 8px;
   background-clip: text;
   box-sizing: border-box;
   background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   --background-clip: text;
   --text-fill-color: transparent;
   border: 1px solid #6A6CFF;
   

}
#project-header{
    align-items: center;
    padding: 10px;
   gap: 10px;
   font-size: 40px;
   font-weight: 700;
   text-align: center;
}
#project-paragraph{
    text-align: center;
    color: #5A6980;
    padding-bottom: 60px;
}


.grid {
   
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid #fff;
    background: linear-gradient(137.73deg, rgba(255, 255, 255, 0) 4.16%, rgba(255, 255, 255, 0.5) 102.02%);
    border-radius: 27px;
    margin: auto;
    padding: 20px;
    width: 80%;
 }
 
 .item img {
   object-fit: cover;
   object-position: center;
   width: 100%;
   height: 100%;
   border-radius: 10px;
 }
 
 .item {
   height: 100%;
   width: 100%;
   border: 2px solid rgba(235, 218, 254, 1);
    border-radius: 10px;
 }

.swiper {
    /* width: 600px;
    height: 300px; */
    width: 90%;
    margin-top: 40px !important;
}
.swiper-wrapper{
margin-bottom: 20px;
display: flex;
align-items: center;
}

.swiper-slide img{
width: 50%;
}

.swiper-pagination{
    bottom: 0 !important;
}
.feature{
    background: rgba(255, 255, 255, 0.4);
    padding: 0px 0px 50px 0px;
    position: relative;
    overflow: hidden;
}
.blue-blob{
    position: absolute;
    width: 841px;
    height: 400px;
    left: -700px;
    background: radial-gradient(83.29% 83.29% at 50% 50%, rgba(78, 146, 249, 0.2) 0%, rgba(78, 146, 249, 0.4) 100%);
    filter: blur(127px);
    z-index: 1;
    bottom: 0;
}

.green-blob {
position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(75.86% 75.86% at 50% 50%, rgba(0, 240, 255, 0.1) 0%, rgba(0, 240, 255, 0) 100%);
    filter: blur(127px);
    transform: matrix(1, 0, 0, -1, 0, 0);
    right: 0;
    bottom: 200px;
    z-index: 1;

}
.carreau-green{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 100px;
    top: 200px;
    border: 6px solid #21D4DF;
    border-radius: 4.70588px;
    transform: rotate(23.4deg);
    z-index: 1;
}
.blog{
    position: relative;
}
.blog-section{
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 30px;
}
#blog-header{
    padding-top: 50px;
   gap: 10px;
   height: 65px;
   text-align: center;
   align-items: center;
   font-size: 40px;

}
#blog-para{
    align-items: center;
    text-align: center;
    color: #5A6980;
    padding-bottom: 60px;
    text-align: center;
    align-items: center;
    margin: auto;
}
.card1{
    width: 250px;
    height: 260px;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 14%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 40px;
    padding: 1.5rem;
    z-index: 10;
    border: 1px solid #fff;
    padding-bottom: initial;
    
}
.card1 h2{
    font-size: 15px;
    line-height: 20px;
    color: #485466;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
}
.card1 img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    border-radius: 50%;
}
#line{
     margin: 12px;
     height: 0px;
     border: 1px solid rgba(78, 146, 249, 0.2); ;
}
#card-tile{
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 15px;
}
#paragra{
    width: 195px;
    height: 14px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #90A8CC;
}
#para-name{
    width: 181px;
    height: 18px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #6C7E99;
}
.icon-card{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.icon-card  i{
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --background-clip: text;
    --text-fill-color: transparent;
    cursor: pointer;
}
.icon-card p{
color: #5A6980;
cursor: pointer;
}
#btn-center{
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 47px;
    border-radius: 8px;
    background-clip: text;
    box-sizing: border-box;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --background-clip: text;
    --text-fill-color: transparent;
    border: 1px solid #6A6CFF;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Nunito';
    font-weight: 700;
    text-align: center;
    
}
.center{
    padding: 20px;
}
.testimonial-section{
    text-align: center;
    padding: 70px 0px;
}
#testimonial-header{
        height: 80px;
        font-size: 40px;
        line-height: 48px;
        color: #242A33;
}
#testimonial-para{
    color: #5A6980;
    margin-bottom: 50px;
}
.testimonial-subsection{
    display: flex;
    justify-content: center;
    gap: 122px;
   
}
#img-testimo{
    width: 400px;
    height: 400px;
    left: 0px;
    top: 0px;
}
#icon-testimo{
    
    width: 95px;
    height: 75.06px;
    gap: 60px;
    display: flex;
    align-items: flex-start;
}
.testimonial-text h2{
    width: 519px;
    height: 70px;
    font-size: 32px;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.testimonial-text p{
    width: 558px;
    font-size: 16px;
    line-height: 140%;
    color: #6C7E99;
    text-align: left;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 20px;
    height: 32px;
    margin: initial;
    margin-top: 10px;
}
.stars img{
    width: 18px;
    height: 18px;
}
#stars1{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #363F4D;
}
.contact-section-inside{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
.contact-section{
    background: rgba(255, 255, 255, 0.4);
    padding-bottom: 80px;
    position: relative;
}
.contact-section h1{
   text-align: center;
   align-items: center;
   font-size: 40px;
    padding: 50px 0px;
   
}

.blob-contact{
    background: rgba(235, 218, 254, 0.3);
    right: 10px;
    width: 60%;
    margin: auto;
    height: 289px;
    position: absolute;
    z-index: -1;
    right: 0;
    border-radius: 30px 0px 0px 30px;
    bottom: 165px;
}
.contact1 input{
    border: 2px solid;
    border-image-source: linear-gradient(137.21deg, rgba(255, 255, 255, 0.6) 43.78%, rgba(243, 243, 243, 0.252) 106.72%);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 140%;
    color: #90A8CC;
    padding: 5px 30px;
    max-width: 411px;
    background: linear-gradient(130.17deg, rgba(255, 255, 255, 0.136) 2.38%, rgba(255, 255, 255, 0.85) 98.89%),
            linear-gradient(137.21deg, rgba(255, 255, 255, 0.6) 43.78%, rgba(243, 243, 243, 0.252) 106.72%);
}
.contact1 textarea{
    border: 2px solid;
    border-image-source: linear-gradient(137.21deg, rgba(255, 255, 255, 0.6) 43.78%, rgba(243, 243, 243, 0.252) 106.72%);
    width: 100%;
    height: 144px;
    border-radius: 20px;
    padding: 10px 30px;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 140%;
    resize: none;
    color: #90A8CC;
    max-width: 411px;
    background: linear-gradient(130.17deg, rgba(255, 255, 255, 0.136) 2.38%, rgba(255, 255, 255, 0.85) 98.89%),
            linear-gradient(137.21deg, rgba(255, 255, 255, 0.6) 43.78%, rgba(243, 243, 243, 0.252) 106.72%);
}
.contact1 button{
    width: 100%;
    height: 45px;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    border-radius: 18px;
    border: none;
    color: #fff;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.contact1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 525px;
    height: 445px;
    background: rgba(235, 218, 254, 0.1);
    backdrop-filter: blur(42px);
    border-radius: 24px;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 7%);
}
.contact2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 140%;
    color: rgba(0,0,0, 0.7);
}
.contact-infos{
    display: flex;
        gap: 20px;
}
.contact-infos-img{
    background: rgb(255,255,255);
        padding: 10px;
        border-radius: 7px;
        width: 30%;
}
.blog{
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 2;
}
.brochure{
    text-align: center;
    padding: 90px 0px;
    position: relative;
}
.blob-blue3{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0;
    background: linear-gradient(159.49deg, rgba(208, 227, 255, 0) 12.55%, rgba(0, 102, 255, 0.294) 114.68%);
    filter: blur(12.5px);
    border-radius: 50%;
    bottom: -80px;
}
.blob-blue4{
    position: absolute;
    width: 163px;
    height: 163px;
    top: 80px;
    background: linear-gradient(161deg, rgba(0, 102, 255, 0) -3.15%, rgba(0, 102, 255, 0.24) 115.18%);
    filter: blur(12.5px);
    right: 600px;
    border-radius: 50%;
}
.blob-red3{
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(71.11% 71.11% at 67.65% 52.01%, rgba(250, 137, 123, 0.6) 0%, rgba(250, 137, 123, 0) 100%);
    filter: blur(105px);
    right: 0px;
    border-radius: 20px;
    bottom: 0;
}
.line-mauve{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 5px solid #C46DE3;
    border-radius: 53px;
    transform: rotate(-10.95deg);
    right: 50px;
    top: 200px;
}
.blog-carreau-blue{
    position: absolute;
    width: 32.44px;
    height: 32.44px;
    border: 6.48879px solid #4E92F9;
    border-radius: 5.08925px;
    transform: rotate(127.22deg);
    top: 0;
    left: 150px;
}
.blog-carreau-orange {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 551.33px;
    border: 4px solid #EB6453;
    border-radius: 3px;
    transform: rotate(-28.43deg);
    right: 150px;
}
.bro-line-orange{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 198.56px;
    top: 245.35px;
    border: 5px solid #EFAB18;
    transform: rotate(-135.41deg);
    border-radius: 50%;
}
.bro-carreau-blue{
    position: absolute;
    width: 32.04px;
    height: 32.04px;
    top: 300px;
    border: 6.4088px solid #4E92F9;
    border-radius: 5.02651px;
    transform: rotate(-138.88deg);
    right: 200px;
}
.bro-line-orange2{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #EFAB18;
    transform: rotate(-38.87deg);
    right: 150px;
    top: 0;
    border-radius: 50%;
}
.brochure h2{
        height: 70px;
        font-size: 51px;
        line-height: 80px;
        text-align: center;
        background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 20px;
}
.brochure p{
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #5A6980;
    margin-bottom: 30px;
}
.brochure button{
    width: 168px;
    height: 36px;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    border-radius: 18px;
    color: #ffffff;
    border: none;
    box-shadow: 0px 5px 20px rgb(155 188 240);
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 14px;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 60px;
    margin-bottom: 30px;

}
.footer-sub1{
    display: flex;
    align-items: baseline;
    gap: 50px;
}
.footer-sub2{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.footer-icons{
    display: flex;
    gap: 15px;
    text-align: center;
}
.footer-icons a {
    font-size: 30px;
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.footer h4{
    font-size: 20px;
    color: #5A6980;
}
.footer p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #7E92B3;
}
.footer-sub2 input{
    border: 1px solid #90A8CC;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    font-family: 'Nunito';
    font-size: 16px;
    color: #90A8CC;
    padding: 2px 20px;
}
.footer-sub2 h3{
    font-family: 'Nunito';
    font-weight: 700;
    color: #5A6980;
    padding-bottom: 10px;
}
#footer-empty{
    width: 80%;
    height: 1px;
    background: #B4D2FF;
    margin: auto;
}
#footer-text{
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 22px;
    color: #6C7E99;
    gap: 270px;
    padding: 30px 0px;
}
#footer-text a{
    text-decoration: none;
    color: #6C7E99;
}
#footer-text i{
    color: red;
}
.footer-section{
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    overflow: hidden;
}
.blob-orange1{
    position: absolute;
    width: 560px;
    height: 560px;
    left: -100px;
    top: 242px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 176, 7, 0.6) 0%, rgba(255, 176, 7, 0) 100%);
    filter: blur(127px);
    z-index: -1;
}
.blob-blue1{
    position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(7, 62, 255, 0.5) 0%, rgba(7, 77, 255, 0) 100%);
    filter: blur(127px);
    z-index: -1;
    right: 0;
    top: 0;
}
.project-section{
    position: relative;
    z-index: 2;
}
.blob-red{
    position: absolute;
    width: 239px;
    height: 500px;
    left: 360px;
    top: 182px;
    background: linear-gradient(161.26deg, rgba(255, 28, 0, 0.14) 12.67%, rgba(255, 28, 0, 0) 99.27%);
    filter: blur(102px);
    z-index: -10;
}
.blob-blue2{
    position: absolute;
    width: 461px;
    height: 461px;
    left: -109px;
    top: 66px;
    filter: blur(102px);
    background: radial-gradient(52.01% 52.01% at 67.65% 52.01%, rgba(78, 146, 249, 0.2) 0%, rgba(78, 146, 249, 0) 100%);
    z-index: -1;
}
.blob-yellow2{
    position: absolute;
    width: 249px;
    height: 567px;
    top: -90px;
    background: radial-gradient(52.01% 52.01% at 67.65% 52.01%, rgba(255, 214, 0, 0.4) 0%, rgba(255, 199, 0, 0) 100%);
    filter: blur(102px);
    right: 0;
}
.blob-yellow3{
    position: absolute;
    width: 194px;
    height: 350px;
    left: 0;
    background: radial-gradient(54.43% 54.43% at 50% 50%, rgba(255, 176, 7, 0.72) 0%, rgba(255, 176, 7, 0) 100%);
    filter: blur(107.5px);
    bottom: -100px;
}


 @media (max-width:768px) {
    .hire-us-btn {
        font-size: 12px;
    }
    .bro-carreau-blue{
        z-index: -1;
    }
    .bro-line-orange{
        z-index: -1;
    }
    .line-mauve{
        z-index: -1;
    }
    .carreau-green {
        z-index: -1;
    }
    .footer-section{
        overflow: hidden;
    }
    .blob-orange1{
        left: 0;
        bottom: 0;
        top: initial;
        width: 300px;
    }
    .blob-red{
      left: 0;
      bottom: 0;
      top: initial;
    }
    #footer-text{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .footer-sub2 input{
        width: initial !important;
    }
    .footer-sub2{
        text-align: center;
        flex-direction: column;
    }
    .footer-sub1{
        flex-direction: column;
        gap: 20px;
    }
    .footer-icons{
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .blob-green{
        width: 100%;
            height: 250px;
            left: 0;
            top: 200px;
    }.blob-orange{
        width: 100%;
        bottom: 0;
        top: initial !important;
        left: 0;
    }

    .contact-section-inside {
        gap: 50px;
    }
    .contact-section-inside{
        flex-direction: column;
    }
    .contact1{
        width: 90%;
    }
    .contact1 input,.contact1 textarea{
        width: 80%;
    }
    .testimonial-text h2{
        width: initial !important
        }

    #blog-para{
        width: initial !important;
        padding: 20px;
    }
        .brochure p{
            padding: 20px;
        }
    #blog-header {
         margin-top: initial; 
        
    }
    .testimonial-section {
        padding: 25px;
    }
  .stars {
    margin-top: 20px;
   }
    .testimonial-text p{
        width: initial !important;
        height: initial !important
    }
    #icon-testimo {
        display: initial;
       
    }
    #testimonial-para{
        width: initial !important;
        height: initial !important
    }
    #testimonial-header{
        width: initial !important;
        height: initial !important;
        padding-bottom: 14px;
    }
    #img-testimo{
        width: 100% !important;
        height: initial !important;
    }
    .testimonial-subsection{
        flex-direction: column;
        padding-top: 30px;
        gap: 30px;
    }
    .blog-section{
        flex-direction: column;
        padding-top: 50px;
    }
    .blue-blob{
        position: absolute;
            width: 300px;
            height: 300px;
            left: 0;
            top: 400px;
    }
    navbar{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
        padding: 20px 50px;
    }
    #nav-col-3{
        display: none;
    }
    #promo-wrap{
            flex-direction: column;
            width: 100%;
        }
    #promo-left, #p-line-2{
        font-size: 45px
    }
    #promo-left{
            min-width: 100%;
            align-items:center ;
        }
    #promo-right{
            min-width: 100%;
        }
    #promo-container{
        padding: 10px 0px;
        min-height: 100px;
    }
    #lightbulb-on-img{
            height: 250px;
        }
   #lightbulb-off-img {
            height: 250px;
        }
    .container{
        flex-direction: column;
    }
    .card{
        width: 70%;
        height: 330px;
    }
    .img-div-card img{
        width: 80px;
        height: 80px;
    }
    .img-div-card{
        margin-bottom: initial;
        margin-top: 10px;
    }
    .subtitle{
        padding-bottom: 10px;
        font-size: 15px;
        padding-top: initial;
    }
    .big-subtitle{
        width: initial;
        padding: 10px;
    }
    .big-title{
        margin-top: 60px;
    }
    .swiper-slide{
        width: 300px !important;
    }
 }